// ../images/main-img.jpg

.hero {
  //   max-width: 1600px;
  //   height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white;

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.6;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero-main {
  //   width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 479px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 480px) {
    width: 360px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (max-width: 479px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  //   @media screen and (min-width: 1200px) {
  //     // min-width: 696px;
  //     padding-top: 200px;
  //     padding-bottom: 200px;
  //   }
}
